<header>
    <div class="row">
        <div class="col-md-3" title="HM-Services"> <img class="logo" src="../../assets/img/new logo.png" alt="HM-Services"></div>
        <div class="col-md-6">
            <nav class="navbar navbar-expand-md ">
                  <ul class="navbar-nav">   
                    <li class="nav-item" *ngIf="admin">
                      <a class="nav-link" routerLink="dashboard">Service Requests</a>
                    </li> 
                    <li class="nav-item" *ngIf="admin">
                      <a class="nav-link" routerLink="employee">Employee</a>
                    </li>
                    <li class="nav-item" *ngIf="admin">
                      <a class="nav-link" routerLink="addEmployee">Add Employee</a>
                    </li>                              
                    <li class="nav-item" *ngIf="!admin">
                      <a class="nav-link" routerLink="">Services</a>
                    </li>
                    <li class="nav-item" *ngIf="!admin">
                      <a class="nav-link" routerLink="aboutus">About Us</a>
                    </li>
                  </ul>
              </nav>
        </div>
        <div class="col-md-3" *ngIf="!admin"> 
            <button routerLink="login">Login As Admin</button>
        </div>
        <div class="col-md-3" *ngIf="admin"> 
          <button (click)="logoutAdmin()">Logout</button>
      </div>
    </div>
</header>