
<div class="form">
	<h1>ADMIN LOGIN</h1>
	<form name="loginForm">
		<div class="form-group">
			<input type="textbox" value="" id="username"  placeholder="Enter UserName or Email" ng-model="user.userName" required/>
		</div>
		<div class="form-group">
			<input type="password" value="" id="userpassword" placeholder="Enter Password" ng-model="user.password" required/>
		</div>
		<div class="form-group">
			<input type="submit" value="Login" ng-click="submit(user)" />
		</div>
		<div class="form-group">
			<a href="#" class="btnForgetPwd">Forget Password?</a>
		</div>
	</form>
</div>