<body>
   <section id="company">
    <div class ="container">
    <img id="homeimg" src="../../assets/img/tractor.jpg" >
      
    
    <div class=centered>Hm SERVICES</div>

       

       </div>
    <div id="home">
        
        
        <article>Property holders all through Canada realize that ice and snow will unleash destruction on a house if not appropriately eliminated all through the winter months. The HM Guys will give snow evacuation administrations to keep your home safe and your garden excellent in winter and the accompanying seasons. We likewise offer snow blowing administration and snow scooping administration to keep walkways, decks, and porches away from day off ice.</article>
    </div>
    <h3>When we are prepared to perform snow expulsion administrations, you can anticipate:</h3>
    <ul>
        <li>Progressing WEATHER MONITORING — We are continually checking meteorological information in your general vicinity so we can foresee when you'll require snow expulsion administration.</li>
        <li>Hardware and STAFF ON STANDBY — We ensure we are all set in the event that you require any snow expulsion, snow blowing or snow scooping administrations from our group.</li>
        <li>Adjustment OF SNOW REMOVAL EQUIPMENT — We consistently align our hardware by checking dew focuses and temperature of the black-top encompassing your zone. This encourages us maintain a strategic distance from over-salting and work effectively.</li>
        <li>Hardware GPS TRACKING — We pay attention to snow expulsion, which is the reason we use GPS to follow all our gear and ensure the activity is being done, and progressed nicely.</li>
    </ul>
 </section>
    
   <section id="tools">
    <div id="features">
        <ul>
            <li>Garant Poly Sleigh Shovel</li>
            <li>WORX Wheelbarrow Snow Plow</li>
            <li>Vertex Heavy Duty Rolling Snow Removal Plow Shovel</li>
            <li> SnoShark 2-in-1 Snow Mover & Ice Scraper</li>
            <li>Snow MOOver Extendable Snow Brush</li>
            <li>Snow Joe Snow Thrower</li>
            <li>Snow Joe Cordless Power Snow Shovel</li>
            <li>Cimkiz Snow Grip Ice Cleats</li>
        </ul>
    </div>
</section>
    <section id ="Maintenance">
    <div id =""> <h3>Garden Maintenance for Homeowners</h3>
    <h5>HM administration, we generally put our clients first by giving broad choices to grass and nursery support. From turf care to pruning and occasional tidy up, we can deal with it just for you. We comprehend that keeping your yard and nursery beds excellent can be testing, which is the reason we are here to help with broad cultivating administrations. Our experts are profoundly prepared and have an inside and out information on the neighborhood atmosphere, soil, and different elements that can affect your home property.</h5>
    <h4>what type of care garden need</h4>
    <ul>
        <li>Natural Lawn Care — For those that lean toward eco-accommodating grass care, this program actualizes normal plant, mineral, and creature sources instead of conventional synthetics. This makes the natural program ok for your family, pets, and the climate. Remember it might be longer for the program to produce results, yet it's more reasonable and advances the development of miniature creatures in soil while helping waste and disintegration decrease.</li>
        <li>Hybrid Lawn Care — As a blend of our natural and conventional items, you outdo the two universes here. We use components from the two projects to make an ideal program for eco-accommodating mortgage holders who incline toward a more traditionalist methodology with a blend of synthetic compounds. The half breed plan assists with forestalling weeds, stays ok for individuals and creatures, and assists with decreasing dry spell pressure.</li>
        <li>Simple Lawn Care — This is frequently the most quick acting and cost-accommodating of the three projects, using basic synthetic medicines. The synthetic substances have been demonstrated successful in delivering quick and momentary outcomes. This program isn't as safe for creatures, individuals, or the climate. It can likewise make harm your dirt whenever utilized too every now and again.</li>
        
    </ul>
</div>
</section>
       
  
    
    <div id="pictuers">
        <article></article>
    </div>
    
    <div id="ending">
        <article></article>
    </div>
    
</body>
