<section id = "form">  
    <h2>Request a service</h2>
    <div class="service form">
      <form #requestForm ="ngForm"> <!-- #service request Form is the reference variable -->
       
            <div class="service-form-group">
              <label>Email:</label>
              <input type="email" #emailRef="ngModel" class="form-control" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel required/>
              <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
                <div [hidden]="!emailRef.errors.pattern">
                  Please enter a valid email.
        </div>
        <div [hidden]="!emailRef.errors.required">
          Please enter your email.
      </div> 
      </div> 
    </div>
    <div class="service-form-group">
      <label>First Name:</label>
      <input type="text" #fnameRef="ngModel" class="form-control" name="first_name" ngModel required/>
        <div *ngIf="fnameRef.errors && (fnameRef.dirty || fnameRef.touched)" class="alert alert-danger">
          <div [hidden]="!fnameRef.errors.required">
                  Please enter your First Name.
              </div>
      </div> 
    </div>
    <div class="service-form-group">
      <label>Last Name:</label>
      <input type="text" #lnameRef="ngModel" class="form-control" name="last_name" ngModel required/>
        <div *ngIf="lnameRef.errors && (lnameRef.dirty || lnameRef.touched)" class="alert alert-danger">
          <div [hidden]="!lnameRef.errors.required">
                  Please enter your Last Name.
              </div>
      </div> 
    </div>
    <div class="service-form-group">
      <label>Phone:</label>
      <input type="tel" #phoneRef="ngModel" class="form-control" name="phone" placeholder="XXXXXXXXXX" maxlength="10" minlength="10" ngModel required/>
        <div *ngIf="phoneRef.errors && (phoneRef.dirty || phoneRef.touched)" class="alert alert-danger">
          <div [hidden]="!phoneRef.errors.required">
                  Please enter your Phone number.
            </div>
            <div [hidden]="!phoneRef.errors.minlength">
              Please enter a valid Phone number.
          </div>
          <div [hidden]="!phoneRef.errors.maxlength">
            Please enter a valid Phone number.
        </div>
      </div> 
    </div>
    <div class="service-form-group">
      <label>Address:</label>
      <input type="text" #addressRef="ngModel" class="form-control" name="address" ngModel required/>
        <div *ngIf="addressRef.errors && (addressRef.dirty || addressRef.touched)" class="alert alert-danger">
          <div [hidden]="!addressRef.errors.required">
                  Please enter your address.
              </div>
      </div> 
    </div>
        </div>
    <div class="service-form-group">
      <label>Service Date:</label>
      <input type="text" #serviceDateRef="ngModel" class="form-control" placeholder="YYYY-MM-DD" name="service_date" pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))" ngModel required/>
        <div *ngIf="serviceDateRef.errors && (serviceDateRef.dirty || serviceDateRef.touched)" class="alert alert-danger">
          <div [hidden]="!serviceDateRef.errors.required">
                  Please enter Service Date.
        </div>
        <div [hidden]="!serviceDateRef.errors.pattern">
          Please enter a valid Date.
      </div>
      </div> 
    </div>
    <div class="service-form-group custom-checkbox ">
      <label>Service Type:</label><br>
      <input type="checkbox" #snowRef="ngModel"  id="snow" name="snow_removal" checked="true" ngModel />
      <div *ngIf="snowRef.errors && (snowRef.dirty || snowRef.touched)" class="alert alert-danger"></div>
      <label for="defaultCheck">&nbsp; Snow Removal</label>
      <br>
      <input type="checkbox" #backyardRef="ngModel"  id="backyard" name="grass_cutting" ngModel />
      <div *ngIf="backyardRef.errors && (backyardRef.dirty || backyardRef.touched)" class="alert alert-danger"></div>
      <label for="defaultCheck">&nbsp; Grass Cutting </label>
      <br>
      <input type="checkbox" #gardenRef="ngModel"  id="garden" name="indoor_cleaning" ngModel />
      <div *ngIf="gardenRef.errors && (gardenRef.dirty || gardenRef.touched)" class="alert alert-danger"></div>
      <label for="defaultCheck"> &nbsp; Indoor cleaning </label>
      <br>
    </div>
          
          <button [disabled]="!requestForm.form.valid" type="submit" class="btn btn-primary" (click)="customerData(requestForm.value)">Submit</button>
        </form> 
  </div>
  </section>