

.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 20px;
    margin-top: 50px;
  }
  #form{
    padding-top: 30px;
    border-top:1px solid black;
  }
  h2{
      text-align: center;
  }
  @media screen and (max-width: 600px) {
    .form  {
      width: 100%;
      margin-top: 0;
    }
  }
