.jumbotron{
    margin-top: 50px;
}



@media only screen and (max-width: 960px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%; 
    
	}
	
	td:before { 
		
		position: absolute;
		top: 6px;
		left: 6px;
		width: 50%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	
    td:nth-of-type(1):before { content: "First Name"; }
    td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Address"; }
	td:nth-of-type(4):before { content: "Phone"; }
    td:nth-of-type(5):before { content: "Email"; }
    td:nth-of-type(6):before { content: "Update"; }
	td:nth-of-type(7):before { content: "Delete"; }
	
	
}
