<div class="row">
  <div class="col-md-12">

    <div class="about-section">
      <h1>About Us</h1>
      <p>We offer services in snow removal and landscaping. we are a ceritifed company with professionals. <br>
      we are here to make your lives better.</p>    
    </div>
    
  </div>
</div>
<div>
  <br/>
  <h2 class="text-center">OUR WORK</h2>&nbsp;&nbsp;
</div>
<div class="row">
  <div class="col-md-4" title="Indoor Maintenance">
    <img src="https://homebnc.com/homeimg/2017/03/02-front-yard-landscaping-garden-ideas-homebnc.jpg" alt="Indoor Maintenance">
  </div>
  <div class="col-md-4" title="Snow Removal">
    <img src="https://www.terrace.ca/sites/default/files/images/city-services/1y9a2178.jpg" alt="Snow Removal">
  </div>
  <div class="col-md-4" title="Grass Cutting">
    <img src="https://bloximages.chicago2.vip.townnews.com/napavalleyregister.com/content/tncms/assets/v3/editorial/0/16/016d4e11-1a7e-5e2e-aee3-2779c8545728/5e4efb8bf1ef6.image.jpg?resize=1200%2C675" alt="Grass Cutting">
  </div>
</div>
<div>
  <br/>
  <h2 class="text-center">LOCATE US</h2>
</div>
<div class="row">
  <div class="map-responsive col-md-12 text-center"> 
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2896.4238159986153!2d-80.49755468509466!3d43.451748379128695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf4f4c724489f%3A0x4118aeb885b6f58!2s331%20King%20St%20W%2C%20Kitchener%2C%20ON%20N2G%201B8!5e0!3m2!1sen!2sca!4v1603439477537!5m2!1sen!2sca"  width="600px" height="400px" frameborder="0" style="border:40px" allowfullscreen="" aria-hidden="false" tabindex="0">
      </iframe>  
  </div>
  
</div>